

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Redirigiendo a WhatsApp...</title>
    <meta http-equiv="refresh" content="2;url={whatsappLink}" />
    <!-- Event snippet for Request quote conversion page -->
    <script>
      gtag("event", "conversion", {
        send_to: "AW-16944555225/dubsCJSy-coaENnJ5Y8_",
        value: 1.0,
        currency: "MXN",
      });
    </script>
  </head>
  <body>
    <p style="display: none">Redirigiendo...</p>
    <script>
        // Aquí debes poner la variable directamente con backticks
        setTimeout(() => {
          window.location.href = `https://wa.me/5215518216560?text=Quiero%20cotizar%20una%20p%C3%A1gina%20web`;
        }, 1000);
      </script>
  </body>
</html>
