<a
  href="/whatsapp"
  target="_blank"
  rel="noopener"
  class="flex items-center text-white text-sm px-3 py-2 font-normal bg-black border-2 border-black transition-colors duration-300 shadow-lg shadow-purple-500/50"
>
  Solicitar Cotización <img
    src="/whats.svg"
    alt="whatsapp icon"
    class="w-4 ml-2"
  />
</a>
