<div
  class="logos group relative overflow-hidden whitespace-nowrap py-5 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]"
>
  <div class="animate-slide-left inline-block w-max">
    <img class="mx-4 inline h-32 lazyload" src="/logos/logo1.svg" alt="react" />
    <img class="mx-4 inline h-64 lazyload" src="/logos/logo2.svg" alt="google ads" />
    <img class="mx-4 inline h-16 lazyload" src="/logos/logo3.svg" alt="hotjar" />
    <img class="mx-4 inline h-16 lazyload" src="/logos/logo4.svg" alt="wordpress" />
   
  </div>

  <div class="animate-slide-left inline-block w-max">
    <img class="mx-4 inline h-32 lazyload" src="/logos/logo1.svg" alt="react" />
    <img class="mx-4 inline h-64 lazyload" src="/logos/logo2.svg" alt="google ads" />
    <img class="mx-4 inline h-16 lazyload" src="/logos/logo3.svg" alt="hotjar" />
    <img class="mx-4 inline h-16 lazyload" src="/logos/logo4.svg" alt="wordpress" />
  </div>

  <div
    class="logos group relative overflow-hidden whitespace-nowrap py-5 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]"
  >
    <div class="animate-slide-right inline-block w-max">
     
      <img class="mx-4 inline h-16 lazyload" src="/logos/logo5.svg" alt="astro" />
      <img class="mx-4 inline h-16 lazyload" src="/logos/logo6.svg" alt="framer" />
      <img class="mx-4 inline h-16 lazyload" src="/logos/logo7.svg" alt="webflow" />
      <img class="mx-4 inline h-16 lazyload" src="/logos/logo8.png" alt="gsap" />
      <img class="mx-4 inline h-32 lazyload" src="/logos/logo1.svg" alt="react" />
    </div>

    <div class="animate-slide-right inline-block w-max">
     
      <img class="mx-4 inline h-16 lazyload" src="/logos/logo5.svg" alt="astro" />
      <img class="mx-4 inline h-16 lazyload" src="/logos/logo6.svg" alt="framer" />
      <img class="mx-4 inline h-16 lazyload" src="/logos/logo7.svg" alt="webflow" />
      <img class="mx-4 inline h-16 lazyload" src="/logos/logo8.png" alt="gsap" />
      <img class="mx-4 inline h-32 lazyload" src="/logos/logo1.svg" alt="react" />
    </div>
  </div>
</div>
