
  <div class="flex items-center flex-wrap justify-center gap-9">
    <img class="md:w-28" src="/logos/logo1.svg" alt="react" />
    <img class="md:w-28 md:h-20 h-14" src="/logos/logo2.svg" alt="google ads" />
    <img class="md:w-28" src="/logos/logo3.svg" alt="hotjar" />
    <img class="md:w-28" src="/logos/logo4.svg" alt="wordpress" />
    <img class="md:w-28" src="/logos/logo5.svg" alt="astro" />
    <img class="md:w-28" src="/logos/logo6.svg" alt="framer" />
    <img class="md:w-28" src="/logos/logo7.svg" alt="webflow" />
    <img class="md:w-20" src="/logos/logo8.png" alt="gsap" />
  </div>

