---
import Container from "./Container.astro";
import Logo from "./Logo.astro";
import Offer from "./Offer.astro";
---

<nav
  id="navbar"
  class="fixed top-0 left-0 w-full bg-white/10 backdrop-blur-md transition-all duration-300 z-50"
>
  <Offer />
  <Container>
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <a href="/" target="_self" rel="noopener"> <Logo /></a>
      </div>
    </div>
  </Container>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 10) {
        navbar.classList.add("shadow-md", "bg-white/80");
      } else {
        navbar.classList.remove("shadow-md", "bg-white/80");
      }
    });
  });
</script>
