---
import Container from "./Container.astro";
import Logo from "./Logo.astro";
---

<nav class="">
  <Container>
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <Logo />
      </div>
      <div class="flex items-center space-x-3">
        <!-- <Logo /> -->
      </div>
    </div>
  </Container>
</nav>
